# Prediction - Erik

## Imports

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Initial Data Processing

In [13]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('../data/topic_year_counts.csv')
data.rename(columns={'Unnamed: 0': 'topic'}, inplace=True)
print(len(data))
data.head(5)

9895

,topic,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Insect Robotics,122.0,35.0,40.0,48.0,64.0,121.0,188.0,208.0,280.0,505.0,704.0,1013.0,1327.0,1716.0,2006.0,2320.0,2863.0,4435.0,1580.0
1,Labor Economics,39.0,7.0,14.0,12.0,17.0,25.0,40.0,38.0,37.0,41.0,36.0,61.0,61.0,65.0,76.0,63.0,72.0,150.0,56.0
2,Cultural Heritage Informatics,151.0,34.0,83.0,65.0,77.0,125.0,150.0,178.0,214.0,267.0,286.0,316.0,351.0,473.0,607.0,635.0,896.0,1546.0,629.0
3,Virtual Teaching,71.0,14.0,34.0,38.0,20.0,43.0,69.0,86.0,105.0,127.0,129.0,201.0,228.0,304.0,477.0,456.0,681.0,1324.0,441.0
4,Author Profiling,342.0,125.0,218.0,227.0,284.0,523.0,657.0,728.0,872.0,1092.0,1216.0,1517.0,1575.0,2024.0,2438.0,2309.0,2937.0,5208.0,1817.0

In [10]:
sorted_data = data.sort_values(by='2024', ascending=False)
sorted_data.head(5)

,topic,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
5357,Few-Shot Learning,1719.0,524.0,914.0,1041.0,1338.0,2435.0,3102.0,3376.0,5210.0,7147.0,8871.0,12003.0,15975.0,20869.0,24825.0,27439.0,35859.0,58882.0,20483.0
1105,One-Shot Learning,1574.0,463.0,827.0,956.0,1198.0,2256.0,2868.0,3102.0,4818.0,6589.0,8238.0,11259.0,15029.0,19681.0,23459.0,26048.0,34067.0,55629.0,19500.0
9650,Domain Adaptation and Few-Shot Learning,1645.0,487.0,832.0,962.0,1204.0,2238.0,2822.0,3129.0,4861.0,6730.0,8374.0,11404.0,15208.0,19792.0,23623.0,26008.0,33789.0,54974.0,19050.0
3330,Zero-Shot Learning,1544.0,459.0,800.0,938.0,1181.0,2194.0,2780.0,3023.0,4677.0,6451.0,7939.0,10793.0,14409.0,18698.0,22394.0,24624.0,32482.0,53474.0,18806.0
5202,Zero-shot Learning,1544.0,459.0,800.0,938.0,1181.0,2194.0,2780.0,3023.0,4677.0,6451.0,7939.0,10793.0,14409.0,18698.0,22394.0,24624.0,32482.0,53474.0,18806.0

In [14]:
data['topic'] = data['topic'].str.lower()
data = data.drop_duplicates(subset='topic')
print(len(data))
data.head(5)

9863

,topic,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,insect robotics,122.0,35.0,40.0,48.0,64.0,121.0,188.0,208.0,280.0,505.0,704.0,1013.0,1327.0,1716.0,2006.0,2320.0,2863.0,4435.0,1580.0
1,labor economics,39.0,7.0,14.0,12.0,17.0,25.0,40.0,38.0,37.0,41.0,36.0,61.0,61.0,65.0,76.0,63.0,72.0,150.0,56.0
2,cultural heritage informatics,151.0,34.0,83.0,65.0,77.0,125.0,150.0,178.0,214.0,267.0,286.0,316.0,351.0,473.0,607.0,635.0,896.0,1546.0,629.0
3,virtual teaching,71.0,14.0,34.0,38.0,20.0,43.0,69.0,86.0,105.0,127.0,129.0,201.0,228.0,304.0,477.0,456.0,681.0,1324.0,441.0
4,author profiling,342.0,125.0,218.0,227.0,284.0,523.0,657.0,728.0,872.0,1092.0,1216.0,1517.0,1575.0,2024.0,2438.0,2309.0,2937.0,5208.0,1817.0

In [15]:
# Split the data into train, validation, and test sets
train_data, temp_data = train_test_split(data, test_size=0.2, random_state=42)  # 80% train, 20% temp
val_data, test_data = train_test_split(temp_data, test_size=0.5, random_state=42)  # 10% val, 10% test

# Save the datasets to CSV files
train_data.to_csv('../data/train_data.csv', index=False)
val_data.to_csv('../data/val_data.csv', index=False)
test_data.to_csv('../data/test_data.csv', index=False)

## Load Data

In [3]:
train_data = pd.read_csv('../data/train_data.csv')
val_data = pd.read_csv('../data/val_data.csv')
test_data = pd.read_csv('../data/test_data.csv')

print("Train data shape:", train_data.shape)
print("Validation data shape:", val_data.shape)
print("Test data shape:", test_data.shape)

Train data shape: (7890, 20)
Validation data shape: (986, 20)
Test data shape: (987, 20)

In [20]:
sorted_data = train_data.sort_values(by='2015', ascending=False)
sorted_data.head(5)

,topic,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
7364,np-hardness,4247.0,1567.0,2383.0,2799.0,3395.0,4885.0,6607.0,6831.0,9682.0,11424.0,11399.0,13286.0,15462.0,18834.0,20617.0,20982.0,26235.0,40670.0,14613.0
3377,large-scale graphs,4190.0,1492.0,2293.0,2678.0,3269.0,4726.0,6324.0,6689.0,9473.0,11156.0,11556.0,13718.0,16318.0,20054.0,22155.0,22707.0,28621.0,45069.0,16060.0
2614,np-complete problems,3987.0,1449.0,2201.0,2583.0,3163.0,4578.0,6221.0,6401.0,9007.0,10615.0,10713.0,12473.0,14573.0,17561.0,19238.0,19545.0,24129.0,36427.0,12987.0
6207,near-linear time algorithms,3738.0,1394.0,2113.0,2454.0,3057.0,4386.0,5802.0,6110.0,8734.0,10296.0,10262.0,11897.0,13708.0,16394.0,17689.0,17736.0,21663.0,32510.0,11511.0
1924,single-source shortest path algorithms,3470.0,1331.0,2095.0,2591.0,2995.0,4532.0,5912.0,6142.0,8595.0,10590.0,9926.0,11121.0,12318.0,14550.0,15672.0,15704.0,18694.0,27222.0,9013.0

## Model

What we really want the model to do is to predict future popularity on unseen topics. Also, we don't have groundtruth for the future popularity of even known topics. 

I formulate the problem as the following:

Given popularity data on a set of topics before year 2022, train a model to predict the popularity of these topics in 2022, 2023, and 2024. The model would be trained on groundtruth popularity of year 2019, 2020, and 2021 since these are the only available data. 

or Given popularity data on a set of known topics for years till 2024, train the model to predict the popularity of unseen topics in 2022, 2023, and 2024. The model would be trained on groundtruth popularity of known topics in 2022, 2023, and 2024. However, this goal is not useful because we can always get the popularity of these topics from a vectorDB search.